@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@import url(./styles/scrollbar.css);
@import url(./styles/header.css);
@import url(./styles/nav.css);
@import url(./styles/home.css);
@import url(./styles/about-me.css);
@import url(./styles/works.css);


@import url(./styles/transition.css);

:root {

    --background-color: #282C33;
    --cards: #2f3238;
    --branco: white;
    --destaque: #C778DD;
    --destaque-hover: #c778dd41;
    --cinza: #ABB2BF;
    --fonte-principal: "Fira Code", monospace;
    --transparente: rgba(255, 255, 255, 0);

}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    background-color: var(--background-color);
    color: var(--branco);
    font-family: var(--fonte-principal);
    
}
