.home {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
    padding: calc(4rem - 56px) 1rem 4rem 1rem;
    font-family: var(--fonte-principal);
    font-weight: 500;
    gap: 1.2rem;
    transition: opacity 0.7s ease-in-out; 
    position: relative;
    overflow: hidden;
}

.home h1 {
    font-size: 3.5rem;
}

.hello {
    font-size: 1.6rem;
}

.home h2 {
    font-size: 1.6rem;
}

.texto {
    font-size: 1rem;
    font-weight: normal;
    color: var(--cinza);
    margin-top: 2.5rem;
}

.home a {
    font-weight: 500;
    border: 1px solid var(--destaque);
    align-self: center;
    padding: 13px 16px;
    margin-top: 2rem;
    
}

.home a:hover {
    background-color: var(--destaque-hover);
}

.quadrado91 {
    width: 91px;
    height: 91px;
    border: 1px solid var(--cinza);
    position: absolute;
    right: -20px;
    top: 60%;
    display: none;
}

@media screen and (min-width: 1280px) {
    .quadrado91 {
        display: block;
    }

    .home h1 {
        font-size: 4rem;
    }
    
    .hello {
        font-size: 2.1rem;
    }
    
    .home h2 {
        font-size: 2.1rem;
    }
    
    .texto {
        font-size: 1.5rem;
    }
}