.menu-nav {
    position: fixed;
    width: 100vw;
    height: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    overflow: hidden;
    transition: height 1s ease-in-out; 
}

.menu-nav-transition {
    height: 100vh;
}

.container_listas {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.lista-nav {
    padding: 16px;
    font-size: 1.2rem;
}

.lista-nav a {
    color: var(--cinza);
    font-family: var(--fonte-principal);

}

.lista-nav a:hover {
    color: var(--branco);
    font-weight: 500;
}

.container_social {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    z-index: 999;
}


.container_social > li a img{
    width: 24px;
    height: 24px;
}

.navegacao {
    z-index: 999;
}

.linha {
    width: 191px;
    height: 1px;
    background-color: var(--cinza);
    border: none;
    outline: none;
    transform-origin: top left;
    transform: rotate(90deg);
    display: none;
}

@media screen and (min-width: 1280px) {
    .container_social {
        flex-direction: column;
        position: fixed;
        left: 20px;
    }

    .linha {
        display: block;
        position: absolute;
        top: -18px;
    }

    .menu-nav {
        position: static;
        transition: none;
        height: 61px;
        width: auto;
        overflow: visible;
    }

    .transform {
        transform: translateY(200px);
    }

    .container-nav {
        display: flex;
    }
    
}