/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 4px;
}

/* Cor e estilo da trilha da barra de rolagem */
::-webkit-scrollbar-track {
    background: transparent; /* Cor de fundo da trilha */
}

/* Cor e estilo do polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: var(--destaque); 
    border-radius: 10px;
}

/* Mudança de cor ao passar o mouse sobre a barra de rolagem */
::-webkit-scrollbar-thumb:hover {
    background: var(--destaque-hover); /* Cor do polegar ao passar o mouse */
}